<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.league.dal.shop.dao.CategoryDao">

	<select id="get" resultType="com.league.dal.shop.domain.CategoryDO">
		select `id`,`pid`,`nodepath`,`nodetype`,`locale`,`attachment`,`name`,`details`,`csort`,`gstype`,`mkeywords`,`mdescription` from shop_category where id = #{value}
	</select>

	<select id="list" resultType="com.league.dal.shop.domain.CategoryDO">
		select `id`,`pid`,`nodepath`,`nodetype`,`locale`,`attachment`,`name`,`details`,`csort`,`gstype`,`mkeywords`,`mdescription` from shop_category
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="pid != null and pid != ''"> and pid = #{pid} </if>
		  		  <if test="nodepath != null and nodepath != ''"> and nodepath = #{nodepath} </if>
		  		  <if test="nodetype != null and nodetype != ''"> and nodetype = #{nodetype} </if>
		  		  <if test="locale != null and locale != ''"> and locale = #{locale} </if>
		  		  <if test="attachment != null and attachment != ''"> and attachment = #{attachment} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="details != null and details != ''"> and details = #{details} </if>
		  		  <if test="csort != null and csort != ''"> and csort = #{csort} </if>
		  		  <if test="gstype != null and gstype != ''"> and gstype = #{gstype} </if>
		  		  <if test="mkeywords != null and mkeywords != ''"> and mkeywords = #{mkeywords} </if>
		  		  <if test="mdescription != null and mdescription != ''"> and mdescription = #{mdescription} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from shop_category
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="pid != null and pid != ''"> and pid = #{pid} </if>
		  		  <if test="nodepath != null and nodepath != ''"> and nodepath = #{nodepath} </if>
		  		  <if test="nodetype != null and nodetype != ''"> and nodetype = #{nodetype} </if>
		  		  <if test="locale != null and locale != ''"> and locale = #{locale} </if>
		  		  <if test="attachment != null and attachment != ''"> and attachment = #{attachment} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="details != null and details != ''"> and details = #{details} </if>
		  		  <if test="csort != null and csort != ''"> and csort = #{csort} </if>
		  		  <if test="gstype != null and gstype != ''"> and gstype = #{gstype} </if>
		  		  <if test="mkeywords != null and mkeywords != ''"> and mkeywords = #{mkeywords} </if>
		  		  <if test="mdescription != null and mdescription != ''"> and mdescription = #{mdescription} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.league.dal.shop.domain.CategoryDO">
		insert into shop_category
		(
			`id`, 
			`pid`, 
			`nodepath`, 
			`nodetype`, 
			`locale`, 
			`attachment`, 
			`name`, 
			`details`, 
			`csort`, 
			`gstype`, 
			`mkeywords`, 
			`mdescription`
		)
		values
		(
			#{id}, 
			#{pid}, 
			#{nodepath}, 
			#{nodetype}, 
			#{locale}, 
			#{attachment}, 
			#{name}, 
			#{details}, 
			#{csort}, 
			#{gstype}, 
			#{mkeywords}, 
			#{mdescription}
		)
	</insert>
	 
	<update id="update" parameterType="com.league.dal.shop.domain.CategoryDO">
		update shop_category 
		<set>
			<if test="pid != null">`pid` = #{pid}, </if>
			<if test="nodepath != null">`nodepath` = #{nodepath}, </if>
			<if test="nodetype != null">`nodetype` = #{nodetype}, </if>
			<if test="locale != null">`locale` = #{locale}, </if>
			<if test="attachment != null">`attachment` = #{attachment}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="details != null">`details` = #{details}, </if>
			<if test="csort != null">`csort` = #{csort}, </if>
			<if test="gstype != null">`gstype` = #{gstype}, </if>
			<if test="mkeywords != null">`mkeywords` = #{mkeywords}, </if>
			<if test="mdescription != null">`mdescription` = #{mdescription}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from shop_category where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from shop_category where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>