<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.league.dal.shop.dao.ManagerDao">

	<select id="get" resultType="com.league.dal.shop.domain.ManagerDO">
		select `id`,`account`,`password`,`status`,`email`,`name`,`image`,`ctype`,`mgroups`,`nickname`,`idcard`,`lastlogin`,`logincount`,`ctime` from shop_manager where id = #{value}
	</select>

	<select id="list" resultType="com.league.dal.shop.domain.ManagerDO">
		select `id`,`account`,`password`,`status`,`email`,`name`,`image`,`ctype`,`mgroups`,`nickname`,`idcard`,`lastlogin`,`logincount`,`ctime` from shop_manager
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="account != null and account != ''"> and account = #{account} </if>
		  		  <if test="password != null and password != ''"> and password = #{password} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="email != null and email != ''"> and email = #{email} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="image != null and image != ''"> and image = #{image} </if>
		  		  <if test="ctype != null and ctype != ''"> and ctype = #{ctype} </if>
		  		  <if test="mgroups != null and mgroups != ''"> and mgroups = #{mgroups} </if>
		  		  <if test="nickname != null and nickname != ''"> and nickname = #{nickname} </if>
		  		  <if test="idcard != null and idcard != ''"> and idcard = #{idcard} </if>
		  		  <if test="lastlogin != null and lastlogin != ''"> and lastlogin = #{lastlogin} </if>
		  		  <if test="logincount != null and logincount != ''"> and logincount = #{logincount} </if>
		  		  <if test="ctime != null and ctime != ''"> and ctime = #{ctime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from shop_manager
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="account != null and account != ''"> and account = #{account} </if>
		  		  <if test="password != null and password != ''"> and password = #{password} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="email != null and email != ''"> and email = #{email} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="image != null and image != ''"> and image = #{image} </if>
		  		  <if test="ctype != null and ctype != ''"> and ctype = #{ctype} </if>
		  		  <if test="mgroups != null and mgroups != ''"> and mgroups = #{mgroups} </if>
		  		  <if test="nickname != null and nickname != ''"> and nickname = #{nickname} </if>
		  		  <if test="idcard != null and idcard != ''"> and idcard = #{idcard} </if>
		  		  <if test="lastlogin != null and lastlogin != ''"> and lastlogin = #{lastlogin} </if>
		  		  <if test="logincount != null and logincount != ''"> and logincount = #{logincount} </if>
		  		  <if test="ctime != null and ctime != ''"> and ctime = #{ctime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.league.dal.shop.domain.ManagerDO">
		insert into shop_manager
		(
			`id`, 
			`account`, 
			`password`, 
			`status`, 
			`email`, 
			`name`, 
			`image`, 
			`ctype`, 
			`mgroups`, 
			`nickname`, 
			`idcard`, 
			`lastlogin`, 
			`logincount`, 
			`ctime`
		)
		values
		(
			#{id}, 
			#{account}, 
			#{password}, 
			#{status}, 
			#{email}, 
			#{name}, 
			#{image}, 
			#{ctype}, 
			#{mgroups}, 
			#{nickname}, 
			#{idcard}, 
			#{lastlogin}, 
			#{logincount}, 
			#{ctime}
		)
	</insert>
	 
	<update id="update" parameterType="com.league.dal.shop.domain.ManagerDO">
		update shop_manager 
		<set>
			<if test="account != null">`account` = #{account}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="image != null">`image` = #{image}, </if>
			<if test="ctype != null">`ctype` = #{ctype}, </if>
			<if test="mgroups != null">`mgroups` = #{mgroups}, </if>
			<if test="nickname != null">`nickname` = #{nickname}, </if>
			<if test="idcard != null">`idcard` = #{idcard}, </if>
			<if test="lastlogin != null">`lastlogin` = #{lastlogin}, </if>
			<if test="logincount != null">`logincount` = #{logincount}, </if>
			<if test="ctime != null">`ctime` = #{ctime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from shop_manager where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from shop_manager where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>